<div class="standard-form YCIO-export-form">
    <p class="notes">
        {{localize "YCIO.Exporter.Description"}}
    </p>

    <div class="form-group-stacked export-tab-list">
        {{#each tabs}}
        <label class="checkbox">
            <input type="checkbox" name="{{this.id}}" {{#if this.checked}}checked{{/if}}>
            <span>{{this.label}}</span>
        </label>
        {{/each}}
    </div>

    <footer class="sheet-footer flexrow">
        <button type="submit" data-action="doExport">
            <i class="fas fa-file-export"></i> {{localize "YCIO.Exporter.ButtonStart"}}
        </button>
    </footer>
</div>